@font-face {
  font-family: 'A';
  src: url('chrome-extension://nnnbafklhpbeajpeidcmlkldjadfmjco/fonts/AktivGroteskCorp-Regular.ttf');
}

li, p, h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2, h3 {
    font-size: 22px;
    font-weight: 500;
}

.heading {
    font-family: 'Helvetica' sans-serif;
}

body {
    padding-left: 20px;
    padding-right: : 20px;
}


h1 {
    padding-left: 10px !important;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 40px;
    border-left: 10px solid #6F83BA !important;
    font-family: 'A' !important;
    text-align: left !important;
}

/* NOTE: Remove me*/
.appended-lecture {
    border: 1px solid blue;
    margin: 40px;
}

.appended-section {
    margin-bottom: 70px;
}

.click-handler-lecture{
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 0px;
    height: 60px;
    background-color: #788BC9;
    color: #FFF;
    border: 2px solid #ABABAB;
    border-radius:3px;
    outline: none;
    font-size: 20px;
    font-size: 400;
    cursor: pointer;
}

.click-handler-lecture:hover {
    background-color: #8FA3E4;
}

.appended-section-header-click-handler {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

    float: right;
    margin-top:-60px;
    margin-right: 20px;
    border-radius: 0px;
    height: 35px;
    background-color: #6999E1;
    color: #FFF;
    border: 2px solid #6B8EC2;
    border-radius:3px;
    outline: none;
    font-size: 13px;
    font-size: 400;
    cursor: pointer;
}
}
