/* New CSS rules here*/
body {
    padding-left: 20px;
    padding-right: : 20px;
}


h1 {
    text-align: left !important;
}

.appended-section {
    border: 1px solid red;
    margin-top:10px;
}

.appended-lecture {
    border: 1px solid blue;
    margin: 40px;
}
