@font-face {
  font-family: 'A';
  src: url('chrome-extension://nnnbafklhpbeajpeidcmlkldjadfmjco/fonts/AktivGroteskCorp-Regular.ttf');
}

li, p, h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2, h3 {
    font-size: 22px;
    font-weight: 500;
}

.heading {
    font-family: 'Helvetica' sans-serif;
}

body {
    /*For fade in*/
    /* TODO: Uncomment */
    /*display: none;*/

    padding-left: 20px;
    padding-right: : 20px;
}

#helperWidget {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    border-radius:10px;
    border: 1px solid #9A9A9A;
    opacity: 0.8;
    background-color: #303030;
}

#widgetHandler {
    position: fixed;
    cursor: pointer;
    top:10px;
    right: 10px;
}

.widget-button {
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top:11px;
    margin-bottom:11px;
    margin-left: 9px;
    background: #fff;
}

.widget-button-icon {
    margin-left: 8px;
    margin-top:7px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#definitionListButton {
    background-color: #D14E5D;
}

#highlightsButton {
    background-color: #BBDEFB;
}

h1 {
    margin-top:30px;
    padding-left: 10px !important;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    /*border-bottom: 10px solid #FFF !important;*/
    /*border-top: 10px solid #FFF !important;*/
    font-family: 'A' !important;
    font-size: 22px;
    text-align: left !important;
}

/* NOTE: Remove me*/
.appended-lecture {
    margin: 30px;
}

.appended-section {
    margin-bottom: 70px;
}

.click-handler-lecture{
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 0px;
    height: 60px;
    background-color: #788BC9;
    color: #FFF;
    border: 2px solid #ABABAB;
    border-radius:3px;
    outline: none;
    font-size: 20px;
    font-size: 400;
    cursor: pointer;
}

.click-handler-lecture:hover {
    background-color: #8FA3E4;
}

.appended-section-header-click-handler {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

    float: right;
    margin-top:-60px;
    margin-right: 20px;
    border-radius: 0px;
    height: 25px;
    background-color: #8CA0E1;
    color: #FFF;
    border: 2px solid #7287CE;
    border-radius:3px;
    outline: none;
    font-size: 13px;
    font-size: 400;
    cursor: pointer;
}


.new-class-header {
    font-family: 'A' !important;
    font-size:28px;
    margin-bottom: 10px;
}

.new-class-sub-header {
    font-family: 'A' !important;
    font-size:17px;
    margin-bottom: 4px;
    margin-left: 15px;
    margin-top: 2px;
}

.new-header-hr {
    margin-top: 30px;
}
